@page "/"
@using BlazingMusic.Shared.Models
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<div class="container text-center">
    <p class="h3 pt-3">Lista de canciones</p>
    <hr class="my-3">
    <table class="table table-striped-columns table-primary">
        <thead>
            <tr>
                <th class="table-primary">Id</th>
                <th class="table-primary">Título</th>
                <th class="table-primary">Artista</th>
                <th class="table-primary">Duración</th>
                <th class="table-primary">Fecha de Lanzamiento</th>
                <th class="table-primary">Discográfica</th>
                <th class="table-primary">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @if (musics == null)
            {
                <tr>
                    <td colspan="7" align="center">Cargando Datos</td>
                </tr>
            }
            else
            {
                @foreach (var music in musics)
                {
                    <tr>
                        <td class="table-primary">@music.MusicId</td>
                        <td class="table-primary">@music.Name</td>
                        <td class="table-primary">@music.Artist</td>
                        <td class="table-primary">@music.Duration</td>
                        <td class="table-primary">@music.LaunchDate?.ToShortDateString()</td>
                        <td class="table-primary">@music.RecordLabel</td>
                        <td class="table-primary">
                            <a href="@GetEditMusicViewUrl(@music)" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Editar</a>
                            <a class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true" @onclick="_ => DeleteMusic(music)">Eliminar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <h4 style="color:blue;">
        ¿Quieres agregar una nueva canción? Haz clic <a href="/music/create">aquí</a>.
    </h4>
</div>

@code {
    private Music[]? musics;

    protected override async Task OnInitializedAsync()
    {
        await FetchMusics();
    }

    private string GetMusicViewUrl(Music music)
    {
        return $"music/view/{music.MusicId}";
    }

    private string GetEditMusicViewUrl(Music music)
    {
        return $"music/edit/{music.MusicId}";
    }

    private async Task DeleteMusic(Music music)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete this music? : {music.MusicId}?"); // Confirm
        NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
        if (confirmed)
        {
            var result = await Http.DeleteAsync($"/api/music/deletemusic/{music.MusicId}");
            if (result != null && result.StatusCode == System.Net.HttpStatusCode.OK)
            {
                await FetchMusics();
            }
        }
    }

    private async Task FetchMusics()
    {
        musics = await Http.GetFromJsonAsync<Music[]>("/api/music/getmusics");
    }
}
